    {% load static %}
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row footer__head">
                <div class="col-md-4 col-sm-12">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'img/logo_main.png' %}" class="footer__logo _anim-items _anim-no-hide _anim-show-0" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-12 footer__resources _anim-items _anim-no-hide _anim-show-0">
                    <h4>Контакты</h4>
                    <a href="https://goo.gl/maps/QdB6qZQ8PnrQ4DtFA">Tsytadelna St, 2А, Kyiv, 02000</a>
                    <a href="tel: +380992281488">+38 (099) 228-14-88</a>
                    <a href="mailto: service@printerok.com">service@printerok.com</a>
                </div>
                <div class="col-md-4 col-sm-12 footer__resources _anim-items _anim-no-hide _anim-show-0">
                    <h4>Ресурсы</h4>
                    <a href="{% url 'quote' %}">Сделать Заказ</a>
                    <a href="{% url 'login' %}">Войти</a>
                    <a href="">Условия Обслуживания</a>
                    <a href="">Конфиденциальность</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 footer__copyright">
                    <p class="footer__copyright-text _anim-items _anim-no-hide _anim-show-0">© PrinterOk 3D Printing</p>
                </div>
            </div>
        </div>
    </footer>
    </div>