{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a href="{% url 'index' %}" class="navbar-brand nav__logo">
      <img src="{% static 'img/logo_main.png' %}" class="navigation__logo" alt="">
  </a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
  <ul class="navbar-nav">
    <li class="navigation__items dropdown">
      <a class="navigation__link dropdown-toggle nav__dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Услуги
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'services' %}">3D Печать</a>
        <a class="dropdown-item" href="{% url 'design' %}">3D Дизайн</a>
        <a class="dropdown-item" href="{% url 'materials' %}">О Материалах</a>
      </div>
    </li>
    
    <li class="navigation__items">
        <a href="{% url 'listings' %}" class="navigation__link"><p class="navigation__text">Магазин</p></a>
    </li>
    <li class="navigation__items">
        <a href="{% url 'gallery' %}" class="navigation__link"><p class="navigation__text">Галерея</p></a>
    </li>
    <!-- <li class="navigation__items">
        <a href="{% url 'quote' %}" class="navigation__button">Сделать Заказ</a>
    </li> -->
    {% if user.is_authenticated %}
    <li class="navigation__items dropdown">
      <a class="navigation__link dropdown-toggle nav__dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if user.first_name %}
          Добро пожаловать, {{ user.first_name }}
        {% elif user.username %}
          Добро пожаловать, {{ user.username }}
        {% else %}
          Добро пожаловать!
        {% endif %}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'logout' %}">Выход</a>
      </div>
    </li>
    {% else %}
      <li class="navigation__items">
        <a href="{% url 'login' %}" class="navigation__button navigation__button-login">Вход</a>
      </li>
      <li class="navigation__items">
        <a href="{% url 'register' %}" class="navigation__button">Регистрация</a>
      </li>
    {% endif %}
  </ul>
</div>
</nav>