{% extends 'base.html' %}

{% load static %}
{% block title %} | Услуги 3D дизайна{% endblock %}
{% block content %}

<div class="design-bg">
<header class="design">
	<div class="container">
		<h2 class="design__title">Услуги 3D Дизайна</h2>
	</div>
</header>

<div class="describe-bg">
<section class="describe">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-md-6 describe__outer">
				<div class="describe__inner">
					<h3 class="describe__title">Вы описываете.</h3>
					<h3 class="describe__title">Мы проектируем.</h3>
					<p class="describe__text">Создайте точный 3D-дизайн в соответствии с вашими требованиями.</p>
					<a class="header__button describe__btn" href="{% url 'quote' %}">Сделать заказ</a>
				</div>
			</div>
			<div class="col-md-6"><img class="describe__img" src="{% static 'img/design/1.png' %}" alt=""></div>
		</div>
	</div>
</section>
</div>
</div>

<div class="applications-bg">
<section class="applications">
	<div class="container">
	<div class="row">
		<div class="col-12">
			<h2 class="cap__title parts__title applications__title">Приложения</h2>
		</div>
	</div>
	<div class="row justify-content-center parts__row">
		<div class="col-xl-4 col-md-6 col-sm-12">
			<img src="{%static 'img/design/2.gif' %}" class="parts__img" alt="">
		</div>
		<div class="col-xl-6 col-md-6 col-sm-12 parts__content">
			<h3 class="cap__suptitle parts__suptitle applications__suptitle">ЦИФРОВОЕ МОДЕЛИРОВАНИЕ</h3>
			<p class="cap__text parts__text">Наши услуги цифрового моделирования преобразуют ваши эскизы и эталонные изображения в полнофункциональные файлы 3D-моделей, готовые для 3D-печати.</p>
		</div>
	</div>
	<div class="row justify-content-center parts__row">
		<div class="col-xl-4 col-md-6 col-sm-12">
			<img src="{%static 'img/design/3.gif' %}" class="parts__img" alt="">
		</div>
		<div class="col-xl-6 col-md-6 col-sm-12 parts__content">
			<h3 class="cap__suptitle parts__suptitle applications__suptitle">3D CAD ПРОЕКТИРОВАНИЕ</h3>
			<p class="cap__text parts__text">Услуги по механическому проектированию для детального проектирования и проектирования изделий. Получите настоящие файлы CAD в формате STEP / IGES.</p>
		</div>
	</div>
	<div class="row justify-content-center parts__row applications__row">
		<div class="col-xl-4 col-md-6 col-sm-12">
			<img src="{%static 'img/design/4.png' %}" class="parts__img" alt="">
		</div>
		<div class="col-xl-6 col-md-6 col-sm-12 parts__content">
			<h3 class="cap__suptitle parts__suptitle applications__suptitle">3D ВИЗУАЛИЗАЦИЯ</h3>
			<p class="cap__text parts__text">Получите подробную полноцветную 3D-визуализацию готовой детали.</p>
		</div>
	</div>
</div>
</section>
</div>



<!-- How it Works -->
<div class="design-works-bg">
<section class="works">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="works__title">Как это устроено</h2>
			</div>
		</div>

			<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
	      <p class="works__icon works__icon-design">1</p>
			<h5 class="card-title">Определите Требования</h5>
			<p class="card-text">Определите свои потребности, используя эталонные изображения похожих предметов или простой эскиз и письменное описание.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
			<p class="works__icon works__icon-design">2</p>
			<h5 class="card-title">Дизайн и Обзор</h5>
			<p class="card-text">Мы создаем 3D-модель на основе ваших требований к дизайну и представляем ее вам на рассмотрение и доработку. Все обнаруженные вами изменения будут учтены, и этот процесс будет повторяться, пока вы не утвердите файл 3D-модели.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
			<p class="works__icon works__icon-design">3</p>
			<h5 class="card-title">Начать 3D-печать</h5>
			<p class="card-text">Ваш готовый файл 3D-модели будет доставлен по ссылке для скачивания и готов для производства 3D-печати.</p>
      </div>
    </div>
  </div>
</div>
	</div>
</section>
</div>

<!-- Quote -->
<div class="quote__bg">
<section class="quote">
	<div class="container">
		<div class="row">
			<div class="col-12 quote__title">
				<h3>Давайте создадим что-нибудь.</h3>
			</div>
			<div class="col-12 quote__text">
				<p>Отправьте свои требования к проекту или используйте нашу интерактивную онлайн-платформу для мгновенного самообслуживания.</p>
			</div>
			<div class="col-12">
				<a href="{% url 'quote' %}" class="header__button">Сделать Заказ</a>
			</div>
			
		</div>
	</div>
</section>
</div>

{% endblock %}