{% extends 'base.html' %}

{% load static %}
{% block title %} | Услуги 3D-печати{% endblock %}
{% block content %}
<!-- Services Header -->
<div class="services-bg">
    <header class="services">
        <div class="container">
            <h2 class="services__title _anim-items _anim-no-hide _anim-show-0">Услуги 3D-печати</h2>
        </div>
    </header>
    
    
    <!-- Services About -->
    <div class="services-about__bg">
    <section class="services-about">
        <div class="container">
            <div class="row services-about__row">
                <div class="col-xl-6 col-md-12 services-about__content">
                    <h3 class="services-about__title _anim-items _anim-no-hide _anim-show-left-0">Производство По Запросу</h3>
                    <p class="services-about__text _anim-items _anim-no-hide _anim-show-left-0">Получите прочные прототипы и подробные модели с живой поддержкой клиентов и техническими инструкциями.</p>
                    <a href="{% url 'quote' %}" class="header__button services-about__button _anim-items _anim-no-hide _anim-show-btn">Сделать Заказ</a>
                </div>
                <div class="col-xl-6 col-md-12">
                    <img src="{% static 'img/services/banner-services-about.png' %}" class="services-about__img img-fluid _anim-items _anim-no-hide _anim-show-right-0" alt="">
                </div>
            </div>
        </div>
    </section>
    </div>
    </div>
    
    
    <!-- Parts -->
    <div class="parts__bg">
    <section class="parts">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="cap__title parts__title _anim-items _anim-no-hide _anim-show-0">Запчасти для Любых Целей</h2>
                </div>
            </div>
            <div class="row justify-content-center parts__row">
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <img src="{% static 'img/services/parts/1.jpg' %}" class="parts__img _anim-items _anim-no-hide _anim-show-left-0" alt="">
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12 parts__content">
                    <h3 class="cap__suptitle parts__suptitle _anim-items _anim-no-hide _anim-show-right-0">ФУНКЦИОНАЛЬНЫЕ ПРОТОТИПЫ</h3>
                    <p class="cap__text parts__text _anim-items _anim-no-hide _anim-show-right-0">Прочные пластиковые детали для практического использования и проверки формы, посадки и функционирования.</p>
                </div>
            </div>
            <div class="row justify-content-center parts__row">
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <img src="{% static 'img/services/parts/2.jpg' %}" class="parts__img _anim-items _anim-no-hide _anim-show-left-0" alt="">
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12 parts__content">
                    <h3 class="cap__suptitle parts__suptitle _anim-items _anim-no-hide _anim-show-right-0">ПОДРОБНЫЕ МОДЕЛИ</h3>
                    <p class="cap__text parts__text _anim-items _anim-no-hide _anim-show-right-0">Создавайте точные детали с четкими и чистыми характеристиками.</p>
                </div>
            </div>
            <div class="row justify-content-center parts__row">
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <img src="{% static 'img/services/parts/3.png' %}" class="parts__img _anim-items _anim-no-hide _anim-show-left-0" alt="">
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12 parts__content">
                    <h3 class="cap__suptitle parts__suptitle _anim-items _anim-no-hide _anim-show-right-0">ДИЗАЙН ПРОДУКТА</h3>
                    <p class="cap__text parts__text _anim-items _anim-no-hide _anim-show-right-0">Эффективное прототипирование ускоряет цикл разработки продукта, проверяет ваши проекты и быстрее выводит вас на рынок.</p>
                </div>
            </div>
            <div class="row justify-content-center parts__row">
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <img src="{% static 'img/services/parts/4.jpg' %}" class="parts__img _anim-items _anim-no-hide _anim-show-left-0" alt="">
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12 parts__content">
                    <h3 class="cap__suptitle parts__suptitle _anim-items _anim-no-hide _anim-show-right-0">DISPLAY PIECES</h3>
                    <p class="cap__text parts__text _anim-items _anim-no-hide _anim-show-right-0">Создавайте уникальные вещи, которые больше нигде не найти.</p>
                </div>
            </div>
            <div class="row justify-content-center parts__row">
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <img src="{% static 'img/services/parts/5.jpg' %}" class="parts__img _anim-items _anim-no-hide _anim-show-left-0" alt="">
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12 parts__content">
                    <h3 class="cap__suptitle parts__suptitle _anim-items _anim-no-hide _anim-show-right-0">MOLD TOOLING</h3>
                    <p class="cap__text parts__text _anim-items _anim-no-hide _anim-show-right-0">Создавайте эталонные шаблоны инструментов для воспроизведения литья из различных литейных материалов.</p>
                </div>
            </div>
        </div>
    </section>
    </div>
    <!-- How it Works -->
    
    <section class="works">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="works__title _anim-items _anim-no-hide _anim-show-0">Как Это Устроено</h2>
                </div>
            </div>
    
                <div class="row row-cols-1 row-cols-md-3">
      <div class="col mb-4">
        <div class="card _anim-items _anim-no-hide _anim-show-0">
          <div class="card-body">
              <p class="works__icon">1</p>
                <h5 class="card-title">Загружайте 3D Файл</h5>
                <p class="card-text">Получите мгновенное онлайн-предложение для 3D-печати из нескольких материалов. Если вам нужно руководство или у вас нет файлов 3D-моделей, мы здесь, чтобы помочь.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card _anim-items _anim-no-hide _anim-show-0">
          <div class="card-body">
                <p class="works__icon">2</p>
                <h5 class="card-title">Мы Создаем Ваши Детали</h5>
                <p class="card-text">Детали изготавливаются на заказ из выбранного вами материала на 3D-принтерах промышленного качества. Все файлы 3D-моделей проходят проверку качества, чтобы гарантировать успешный результат.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card _anim-items _anim-no-hide _anim-show-0">
          <div class="card-body">
                <p class="works__icon">3</p>
                <h5 class="card-title">Самовывоз или Доставка</h5>
                <p class="card-text">Выберите самовывоз или доставку при оформлении заказа, и мы сообщим вам, когда ваш заказ будет выполнен.</p>
          </div>
        </div>
      </div>
    </div>
        </div>
    </section>
    
    
    <!-- Materials -->
    <div class="materials__bg">
    <section class="materials">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h2 class="materials__title _anim-items _anim-no-hide _anim-show-0">Варианты Материалов</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">
                    <h3 class="materials__type type-active _anim-items _anim-no-hide _anim-show-0">ABS Plastic</h3>
                </div>
                <div class="col-4">
                    <h3 class="materials__type _anim-items _anim-no-hide _anim-show-0">SLA Resin</h3>
                </div>
                <div class="col-4">
                    <h3 class="materials__type _anim-items _anim-no-hide _anim-show-0">SLS Nylon</h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <img src="{% static 'img/services/banner-abs1.jpg' %}" class="materials__img img-fluid _anim-items _anim-no-hide _anim-show-0" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="header__button services-button materials__button _anim-items _anim-no-hide _anim-show-btn">Характеристики Материалов</button>
                </div>
            </div>
        </div>
    </section>
    </div>
    <!-- Quote -->
    <div class="quote__bg">
    <section class="quote">
        <div class="container">
            <div class="row">
                <div class="col-12 quote__title">
                    <h3 class="_anim-items _anim-no-hide _anim-show-0">Давайте создадим что-нибудь.</h3>
                </div>
                <div class="col-12 quote__text">
                    <p class="_anim-items _anim-no-hide _anim-show-0">Отправьте свои требования к проекту или используйте нашу интерактивную онлайн-платформу для мгновенного самообслуживания.</p>
                </div>
                <div class="col-12">
                    <a href="{% url 'quote' %}" class="header__button _anim-items _anim-no-hide _anim-show-btn">Сделать Заказ</a>
                </div>
                
            </div>
        </div>
    </section>
    </div>
{% endblock %}