{% extends 'base.html' %}

<!-- {% load humanize %} -->
{% load static %}

{% block content %}

<section id="showcase-inner" class="py-5 bg-success ">
	<div class="container">
		<div class="row text-center">
		<div class="col-md-12">
			<h1 class="showcase__title">Наши товары</h1>
			<p class="showcase__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, pariatur!</p>
		</div>
		</div>
	</div>
</section>


<div class="shop-bg">
<section class="shop">
<div class="container">
<div class="row">

  {% if listings %}
	  {% for listing in listings %}
	  <div class="col-md-3 col-sm-6 mb-4 d-flex align-items-stretch">
		<div class="product-grid">
		  <div class="product-image">
			<a href="#">
				{% if listing.photo_card_2 != "" %}
					<img class="pic-1" src="{{ listing.photo_card_1.url }}">
					<img class="pic-2" src="{{ listing.photo_card_2.url }}">
				{% else %}
					<img class="pic-1" src="{{ listing.photo_card_1.url }}">
				{% endif %}
			</a>
			<ul class="social">
			<!-- <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
			<li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
			<li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li> -->
			<li><a href="{% url 'listing' listing.id %}" class="product__btn">Read More</a></li>
			</ul>
			{% if listing.discount != 0 %}
				<span class="product-new-label">Sale</span>
				<span class="product-discount-label">20%</span>
			{% endif %}
		  </div>
		  <div class="product-content">
			<h3 class="title"><a href="#">{{ listing.title }}</a></h3>
			{% if listing.discount == 0 %}
			<div class="price">
				${{ listing.price }}
			</div>
			{% else %}
				<div class="price">
					${{ listing.discount }}
				<span>${{ listing.price }}</span>
				</div>
			{% endif %}
			<a class="add-to-cart" href="">+ Добавить в корзину</a>
		  </div>
		</div>
	  </div>
	  {% endfor %}
  {% else %}
  	<h2>Не доступных товаров</h2>
  {% endif %}


</div>


 

 <!-- Pagination -->
<div class="row">
	<div class="col-md-12">
		{% if listings.has_other_pages %}
		<ul class="pagination">
			{% if listings.has_previous %}
			<li class="page-item">
				<a href="?page={{listings.previous_page_number}}" class="page-link">&laquo;</a>
			</li>
			{% else %}
			<li class="page-item disabled">
				<a  class="page-link">&laquo;</a>
			</li>
			{% endif %}
			{% for i in listings.paginator.page_range %}
			{% if listings.number == i %}
				<li class="page-item active">
				<a class="page-link">{{i}}</a>
				</li>
				{% else %}
				<li class="page-item">
					<a href="?page={{i}}" class="page-link">{{i}}</a>
				</li>
			{% endif %}
			{% endfor %}
			{% if listings.has_next %}
			<li class="page-item">
			<a href="?page={{listings.next_page_number}}" class="page-link">&raquo;</a>
			</li>
			{% else %}
			<li class="page-item disabled">
				<a  class="page-link">&raquo;</a>
			</li>
		{% endif %}
		</ul>
		{% endif %}
	</div>
</div>

  </div>
  </div>


</section>
</div>

{% endblock %}